@{
    ViewBag.Title = "Ошибка";
}

<h2>@ViewBag.Title</h2>

Вы не выбрали файл! Пожалуйста, выберите excel файл!

<a asp-area="Admin" asp-controller="Home" asp-action="Import" class="button primary">Назад</a>