								<!-- Sidebar -->
									<section id="sidebar">
										<section>
											<h3>Контакты</h3>
											<p>Телефон деканата МатМеха:</p>
										</section>
										<hr />
									</section>